@use '../variables'

.container
  width: 100vw
  height: 100vh
  background-color: variables.$dark-blue
  display: flex
  align-items: center
  justify-content: center

.main-box
  background-color: variables.$dark-grayish-blue
  width: 450px
  height: 300px
  border-radius: 10px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.main-button
  width: 60px
  height: 60px
  background-color: variables.$light-green
  border-radius: 30px
  position: relative
  display: flex
  align-items: center
  justify-content: center
  
  
